{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-5">Today a new life begins!</h1>

    <p>Controll Spotify Library (CSL) lets you tag your songs and then search by them.</p>

    <p>Spotify is an awesome app, however does not support advanced search of your library.</p>

    <h2 class="mt-5 mb-3">How CSL works</h2>

    <p>After you log in for the first time, we go through all your playlists, and save the songs. We add a tag to each of them, based on name of the
        playlist. If you have any song in multiple playlists, we add tags of all the playlists.
    </p>

    <p>Then you can add more tags to any of the individual songs, browse sons by tags and search for all songs with a specific set of tags.</p>

    <p>Having a mood for electronic music with some rap made in early 2000s? or violin classical? or some pop-rock? With this application you can do
        it! With your library fully tagged, you can search by these tags and add all the results to your Spotify queue.</p>

{% endblock %}
