{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5">Hello stranger!</h1>
    <p>Your not registered in dev users, as the app is not in production mode. Don't hesitate to write mail to the <a href="mailto:me@michondr.cz">admin</a></p>
{% endblock %}

