{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ tag.name }}</h1>
    <h6 class="text-muted">Tag with {{ tag.tracks|length }} songs</h6>

    <div class="row pt-3">
        {% for track in tag.tracks %}
            {% include 'library/_track_card.html.twig' with {track: track, tagId: tag.id} only %}
        {% endfor %}
    </div>

{% endblock %}
