{% extends 'base.html.twig' %}

{% block body %}

    <h1>This is your tag collection</h1>

    <a class="btn btn-info" href="{{ path('load_user_library') }}">Refresh data from Spotify</a>

    <div class="row pt-3">
        {% for tag in tags %}
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body bg-dark text-light">
                        <h5 class="card-title">{{ tag.name }}</h5>
                        <p>Songs: {{ tag.tracks.count }}</p>
                        <div class="row">
                            <div class="col-6"><a class="btn d-block btn-primary" href="{{ path('tags.detail', {'id': tag.id}) }}">View</a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No tags in your library</p>
        {% endfor %}
    </div>

{% endblock %}
