{% extends 'base.html.twig' %}

{% block body %}
    <h1>Something broke</h1>

    <p>
        This is a pity. The administrator already knows about this, in the meantime you can try repeating the action, or <a
                href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}